export namespace SubAccount {
export type AddSubAccountApiReq = SUBACCOUNT.AddSubAccountApiReq;
export type AddSubAccountApiResp = SUBACCOUNT.AddSubAccountApiResp;
export type AddSubAccountFuturesPermissionReq = SUBACCOUNT.AddSubAccountFuturesPermissionReq;
export type AddSubAccountFuturesPermissionResp = SUBACCOUNT.AddSubAccountFuturesPermissionResp;
export type AddSubAccountMarginPermissionReq = SUBACCOUNT.AddSubAccountMarginPermissionReq;
export type AddSubAccountMarginPermissionResp = SUBACCOUNT.AddSubAccountMarginPermissionResp;
export type AddSubAccountReq = SUBACCOUNT.AddSubAccountReq;
export type AddSubAccountResp = SUBACCOUNT.AddSubAccountResp;
export type DeleteSubAccountApiReq = SUBACCOUNT.DeleteSubAccountApiReq;
export type DeleteSubAccountApiResp = SUBACCOUNT.DeleteSubAccountApiResp;
export type GetFuturesSubAccountListV2Accounts = SUBACCOUNT.GetFuturesSubAccountListV2Accounts;
export type GetFuturesSubAccountListV2Req = SUBACCOUNT.GetFuturesSubAccountListV2Req;
export type GetFuturesSubAccountListV2Resp = SUBACCOUNT.GetFuturesSubAccountListV2Resp;
export type GetFuturesSubAccountListV2Summary = SUBACCOUNT.GetFuturesSubAccountListV2Summary;
export type GetSpotSubAccountDetailMainAccounts = SUBACCOUNT.GetSpotSubAccountDetailMainAccounts;
export type GetSpotSubAccountDetailMarginAccounts = SUBACCOUNT.GetSpotSubAccountDetailMarginAccounts;
export type GetSpotSubAccountDetailReq = SUBACCOUNT.GetSpotSubAccountDetailReq;
export type GetSpotSubAccountDetailResp = SUBACCOUNT.GetSpotSubAccountDetailResp;
export type GetSpotSubAccountDetailTradeAccounts = SUBACCOUNT.GetSpotSubAccountDetailTradeAccounts;
export type GetSpotSubAccountListV1Data = SUBACCOUNT.GetSpotSubAccountListV1Data;
export type GetSpotSubAccountListV1DataMainAccounts = SUBACCOUNT.GetSpotSubAccountListV1DataMainAccounts;
export type GetSpotSubAccountListV1DataMarginAccounts = SUBACCOUNT.GetSpotSubAccountListV1DataMarginAccounts;
export type GetSpotSubAccountListV1DataTradeAccounts = SUBACCOUNT.GetSpotSubAccountListV1DataTradeAccounts;
export type GetSpotSubAccountListV1Resp = SUBACCOUNT.GetSpotSubAccountListV1Resp;
export type GetSpotSubAccountListV2Items = SUBACCOUNT.GetSpotSubAccountListV2Items;
export type GetSpotSubAccountListV2ItemsMainAccounts = SUBACCOUNT.GetSpotSubAccountListV2ItemsMainAccounts;
export type GetSpotSubAccountListV2ItemsMarginAccounts = SUBACCOUNT.GetSpotSubAccountListV2ItemsMarginAccounts;
export type GetSpotSubAccountListV2ItemsTradeAccounts = SUBACCOUNT.GetSpotSubAccountListV2ItemsTradeAccounts;
export type GetSpotSubAccountListV2Req = SUBACCOUNT.GetSpotSubAccountListV2Req;
export type GetSpotSubAccountListV2Resp = SUBACCOUNT.GetSpotSubAccountListV2Resp;
export type GetSpotSubAccountsSummaryV1Data = SUBACCOUNT.GetSpotSubAccountsSummaryV1Data;
export type GetSpotSubAccountsSummaryV1Resp = SUBACCOUNT.GetSpotSubAccountsSummaryV1Resp;
export type GetSpotSubAccountsSummaryV2Items = SUBACCOUNT.GetSpotSubAccountsSummaryV2Items;
export type GetSpotSubAccountsSummaryV2Req = SUBACCOUNT.GetSpotSubAccountsSummaryV2Req;
export type GetSpotSubAccountsSummaryV2Resp = SUBACCOUNT.GetSpotSubAccountsSummaryV2Resp;
export type GetSubAccountApiListData = SUBACCOUNT.GetSubAccountApiListData;
export type GetSubAccountApiListReq = SUBACCOUNT.GetSubAccountApiListReq;
export type GetSubAccountApiListResp = SUBACCOUNT.GetSubAccountApiListResp;
export type ModifySubAccountApiReq = SUBACCOUNT.ModifySubAccountApiReq;
export type ModifySubAccountApiResp = SUBACCOUNT.ModifySubAccountApiResp;
}
