export namespace Affiliate {
export type GetAccountLtv = AFFILIATE.GetAccountLtv;
export type GetAccountMargins = AFFILIATE.GetAccountMargins;
export type GetAccountOrders = AFFILIATE.GetAccountOrders;
export type GetAccountResp = AFFILIATE.GetAccountResp;
}
