export namespace SpotPrivate {
export type AccountEvent = SPOTPRIVATE.AccountEvent;
export type AccountRelationContext = SPOTPRIVATE.AccountRelationContext;
export type OrderV1Event = SPOTPRIVATE.OrderV1Event;
export type OrderV2Event = SPOTPRIVATE.OrderV2Event;
}
