{{#imports}}
{{{.}}}
{{/imports}}

describe('Auto Test', ()=> {
    let api: {{classname}};

    beforeAll(()=> {
        api = ??
    });
{{#operations}}
    {{#operation}}
    test('{{vendorExtensions.x-meta.method}} request test', ()=> {
    /**
    * {{vendorExtensions.x-meta.method}}
    * {{summary}}
    * {{path}}
    */
    {{#hasParams}}
    let builder = {{vendorExtensions.x-meta.methodServiceFmt}}Req.builder();
    {{#vendorExtensions.x-request-model}}
    builder{{#vars}}.set{{nameInPascalCase}}(?){{/vars}};
    {{/vendorExtensions.x-request-model}}
    let req = builder.build();
    {{/hasParams}}
    let resp = api.{{vendorExtensions.x-meta.method}}({{#hasParams}}req{{/hasParams}});
    return resp.then(result => {
    {{#vendorExtensions.x-response-model}}
        {{#vars}}
        expect(result.{{name}}).toEqual(expect.anything());
        {{/vars}}
    {{/vendorExtensions.x-response-model}}
    });
    })

    {{/operation}}
{{/operations}}
})