{{>partial_header}}
import { Transport } from '@internal/interfaces/transport';

{{#api_entry}}
{{#imports}}
{{{.}}}
{{/imports}}

export abstract class {{api_entry_name}} {
{{#api_entry_value}}

    abstract get{{methodUppercase}}Api(): {{target_service}};
{{/api_entry_value}}
}

export class {{api_entry_name}}Impl implements {{api_entry_name}}{
    private readonly transport :Transport;
{{#api_entry_value}}
    private readonly {{method}} :{{target_service}};
{{/api_entry_value}}

    constructor(transport: Transport) {
        this.transport = transport;
    {{#api_entry_value}}
        this.{{method}} = new {{target_service}}Impl(transport);
    {{/api_entry_value}}
    }

{{#api_entry_value}}

    get{{methodUppercase}}Api() :{{target_service}} {
        return this.{{method}}
    }
{{/api_entry_value}}
{{/api_entry}}
}