{{#imports}}
{{{.}}}
{{/imports}}
import { RestResponse } from '@model/common';

describe('Auto Test', ()=> {
{{#operations}}
    {{#operation}}
    test('{{vendorExtensions.x-meta.method}} request test', ()=> {
    /**
    * {{vendorExtensions.x-meta.method}}
    * {{summary}}
    * {{path}}
    */
    {{#hasParams}}
        let data = "{{{vendorExtensions.x-request-example}}}";
        let req = new {{vendorExtensions.x-meta.methodServiceFmt}}Req();
        req = req.fromJson(data);
        expect(Object.values(req).every(value => value === null || value === undefined)).toBe(false);
        console.log(req);
    {{/hasParams}}
    })

    test('{{vendorExtensions.x-meta.method}} response test', ()=> {
    /**
    * {{vendorExtensions.x-meta.method}}
    * {{summary}}
    * {{path}}
    */
    {{#hasParams}}
        let data = "{{{vendorExtensions.x-response-example}}}";
        let commonResp = RestResponse.fromJson(data);
        let resp = new {{vendorExtensions.x-meta.methodServiceFmt}}Resp();
        resp = resp.fromObject(commonResp.data)
        if (commonResp.data !== null) {
            expect(Object.values(resp).every(value => value === null || value === undefined)).toBe(false);
            console.log(resp);
        }
    {{/hasParams}}
    })
    {{/operation}}
{{/operations}}
})