{{#imports}}
    {{{.}}}
{{/imports}}
import { WsMessage } from '@model/common';

describe('Auto Test', ()=> {
{{#operations}}
    {{#operation}}
        test('{{vendorExtensions.x-meta.method}} response test', ()=> {
        /**
        * {{vendorExtensions.x-meta.method}}
        * {{summary}}
        * {{path}}
        */
        let data = "{{{vendorExtensions.x-response-example}}}";
        let commonResp = WsMessage.fromJson(data);
        let resp = new {{vendorExtensions.x-meta.methodServiceFmt}}Event();
        resp = resp.fromObject(commonResp.data);
        expect(Object.values(resp).every(value => value === null || value === undefined)).toBe(false);
        console.log(resp);
        })
    {{/operation}}
{{/operations}}
})