{{>partial_header}}
{{#models}}
{{#model}}
{{#vendorExtensions.x-imports}}
{{{.}}}
{{/vendorExtensions.x-imports}}
{{#vendorExtensions.x-response-model}}
import { RestResponse } from '@model/common';
import {Response} from '@internal/interfaces/serializable';

export class {{classname}} implements Response<RestResponse> {
{{/vendorExtensions.x-response-model}}
{{^vendorExtensions.x-response-model}}
import { Serializable } from '@internal/interfaces/serializable';

export class {{classname}} implements Serializable{
{{/vendorExtensions.x-response-model}}
{{#vars}}
    /**
    * {{#description}}{{{.}}}{{/description}}
    */
{{#vendorExtensions.x-use-base-name}}
    @Expose({ name: "{{baseName}}" })
{{/vendorExtensions.x-use-base-name}}
{{#vendorExtensions.x-tag-path}}
    @Reflect.metadata("path", "{{baseName}}")
{{/vendorExtensions.x-tag-path}}
{{#vendorExtensions.x-typed}}
    {{{.}}}
{{/vendorExtensions.x-typed}}
    {{name}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{#defaultValue}} = {{#isEnum}}{{classname}}.{{/isEnum}}{{{.}}}{{/defaultValue}};
    {{{vendorExtensions.x-default-value}}}
{{/vars}}
    /**
    * Private constructor, please use the corresponding static methods to construct the object.
    */
    private constructor() {
{{#vars}}
    {{#required}}
    // @ts-ignore
    this.{{name}} = null;
    {{/required}}
{{/vars}}
    }
{{#vendorExtensions.x-response-model}}
    /**
    * common response
    */
    @Exclude()
    commonResponse?: RestResponse;

    setCommonResponse(response: RestResponse): void {
        this.commonResponse = response;
    }

{{#vendorExtensions.x-original-response}}
    /**
    * Convert the object to a JSON string.
    */
    toJson(): string {
        return JSON.stringify(instanceToPlain(this.data));
    }
    /**
    * Create an object from a JSON string.
    */
    static fromJson(input: string): {{classname}} {
        return this.fromObject(JSON.parse(input));
    }
    /**
    * Create an object from Js Object.
    */
    static fromObject(jsonObject: Object): {{classname}} {
        return plainToClassFromExist(new {{classname}}(), {data : jsonObject});
    }

{{/vendorExtensions.x-original-response}}
{{/vendorExtensions.x-response-model}}
{{#vendorExtensions.x-request-model}}
    /**
    * Creates a new instance of the `{{classname}}` class.
    * The builder pattern allows step-by-step construction of a `{{classname}}` object.
    */
    static builder(): {{classname}}Builder {
        return new {{classname}}Builder(new {{classname}}());
    }

    /**
    * Creates a new instance of the `{{classname}}` class with the given data.
    */
    static create(data : {
    {{#vars}}
        /**
        * {{#description}}{{{.}}}{{/description}}
        */
        {{name}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}};
    {{/vars}}
    }): {{classname}} {
        let obj = new {{classname}}()
    {{#vars}}
        {{^defaultValue}}
        obj.{{name}} = data.{{name}}
        {{/defaultValue}}
        {{#defaultValue}}
        if (data.{{name}}) {
            obj.{{name}} = data.{{name}}
        } else {
            {{#isEnum}}
            obj.{{name}} = {{classname}}.{{{.}}}
            {{/isEnum}}
            {{^isEnum}}
            obj.{{name}} = {{{.}}}
            {{/isEnum}}
        }
        {{/defaultValue}}
    {{/vars}}
        return obj
    }

{{#vendorExtensions.x-request-raw-array}}
    /**
    * Convert the object to a JSON string.
    */
    toJson(): string {
        return JSON.stringify(instanceToPlain(this.items));
    }
    /**
    * Create an object from a JSON string.
    */
    static fromJson(input: string): {{classname}} {
        return this.fromObject(JSON.parse(input));
    }
    /**
    * Create an object from Js Object.
    */
    static fromObject(jsonObject: Object): {{classname}} {
        return plainToClassFromExist(new {{classname}}(), {items: jsonObject});
    }

{{/vendorExtensions.x-request-raw-array}}
{{/vendorExtensions.x-request-model}}
{{^vendorExtensions.x-original-response}}
{{^vendorExtensions.x-request-raw-array}}
    /**
    * Convert the object to a JSON string.
    */
    toJson(): string {
        return JSON.stringify(instanceToPlain(this));
    }
    /**
    * Create an object from a JSON string.
    */
    static fromJson(input: string): {{classname}} {
        return this.fromObject(JSON.parse(input));
    }
    /**
    * Create an object from Js Object.
    */
    static fromObject(jsonObject: Object): {{classname}} {
        return plainToClassFromExist(new {{classname}}(), jsonObject);
    }

{{/vendorExtensions.x-request-raw-array}}
{{/vendorExtensions.x-original-response}}
}

{{#hasEnums}}
export namespace {{classname}} {
{{#vars}}
{{#isEnum}}
    export enum {{enumName}} {
        {{#vendorExtensions.x-enums}}
        /**
        * {{description}}
        */
        {{name}} = <any> {{{value}}}{{^-last}},{{/-last}}
        {{/vendorExtensions.x-enums}}
    }
{{/isEnum}}
{{/vars}}
}
{{/hasEnums}}

{{#vendorExtensions.x-request-model}}
export class {{classname}}Builder {
    constructor(readonly obj: {{classname}}) {
        this.obj = obj;
    }
{{#vars}}
    /**
    * {{#description}}{{{.}}}{{/description}}
    */
    set{{nameInPascalCase}}(value :{{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}) :{{classname}}Builder {
        this.obj.{{name}} = value
        return this
    }

{{/vars}}
    /**
    * Get the final object.
    */
    build():{{classname}} {
        return this.obj;
    }
}

{{/vendorExtensions.x-request-model}}
{{/model}}
{{/models}}