{{>partial_header}}
{{#models}}
{{#model}}
{{#vendorExtensions.x-imports}}
{{{.}}}
{{/vendorExtensions.x-imports}}
{{#vendorExtensions.x-response-model}}
import { WsMessage } from '@model/common';
import { WebSocketMessageCallback } from '@internal/interfaces/websocket';
import { Response } from '@internal/interfaces/serializable';

export class {{classname}} implements Response<WsMessage>{
{{/vendorExtensions.x-response-model}}
{{^vendorExtensions.x-response-model}}
import { Serializable } from '@internal/interfaces/serializable';

export class {{classname}} implements Serializable{
{{/vendorExtensions.x-response-model}}

{{#vars}}
    /**
    * {{#description}}{{{.}}}{{/description}}
    */
    {{#vendorExtensions.x-use-base-name}}
    @Expose({ name: "{{baseName}}" })
    {{/vendorExtensions.x-use-base-name}}
    {{name}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{#defaultValue}} = {{#isEnum}}{{classname}}.{{/isEnum}}{{{.}}}{{/defaultValue}};
{{/vars}}

    private constructor() {
{{#vars}}
    {{#required}}
    // @ts-ignore
    this.{{name}} = null;
    {{/required}}
{{/vars}}
    }
{{#vendorExtensions.x-response-model}}
    /**
    * common response
    */
    @Exclude()
    private commonResponse?: WsMessage;

    setCommonResponse(response: WsMessage): void {
        this.commonResponse = response;
    }

{{/vendorExtensions.x-response-model}}
{{#vendorExtensions.x-original-response}}
    toJson(): string {
        return JSON.stringify(instanceToPlain(this.data));
    }

    static fromJson(input: string): {{classname}} {
        return this.fromObject(JSON.parse(input));
    }

    static fromObject(jsonObject: Object): {{classname}} {
        return plainToClassFromExist(new {{classname}}(), {data : jsonObject});
    }

{{/vendorExtensions.x-original-response}}
{{^vendorExtensions.x-original-response}}
    toJson(): string {
        return JSON.stringify(instanceToPlain(this));
    }

    static fromJson(input: string): {{classname}} {
        return this.fromObject(JSON.parse(input));
    }

    static fromObject(jsonObject: Object): {{classname}} {
        return plainToClassFromExist(new {{classname}}(), jsonObject);
    }

{{/vendorExtensions.x-original-response}}
}

{{#hasEnums}}
export namespace {{classname}} {
{{#vars}}
{{#isEnum}}
    export enum {{enumName}} {
        {{#vendorExtensions.x-enums}}
        /**
        * {{description}}
        */
        {{name}} = <any> {{{value}}}{{^-last}},{{/-last}}
        {{/vendorExtensions.x-enums}}
    }
{{/isEnum}}
{{/vars}}
}
{{/hasEnums}}

{{#vendorExtensions.x-response-model}}
export type {{classname}}Callback = (topic: string, subject: string, data: {{classname}}) => void;

export class  {{classname}}CallbackWrapper implements WebSocketMessageCallback {
    constructor(private callback: {{classname}}Callback) {
        this.callback = callback;
    }

    onMessage(msg: WsMessage): void {
        let event = {{classname}}.fromObject(msg.data)
        event.setCommonResponse(msg)
        this.callback(msg.topic, msg.subject, event)
    }
}
{{/vendorExtensions.x-response-model}}
{{/model}}
{{/models}}